.RoadmapProduct {
    clear: both;
}

.RoadmapProductName {
    font-size: large;
}

.RoadmapProductFooter {
    clear: both;
}

.RoadmapProduct .SettingsButton {
    float: right;
}

.RoadmapAreas {
    clear: both;
}

.RoadmapArea {
    clear: both;
    margin-top: 1em;
}

.RoadmapItemFooter {
    clear: both;
}

.RoadmapAreaItems {
    clear: both;
    margin-top: 1em;
}

.RoadmapAreaItem {
    clear: none;
    float: left;
    width: 30%;
    margin-left: 1%;
    margin-right: 1%;
}

.RoadmapAreaFooter {
    clear: both;
}

img.RoadmapAreaItemBanner {
    width: 100%;
}

.RoadmapAreaItemName {
    font-size: medium;
    padding: 0.3em;
    border-radius: 0.2em;
}

.RoadmapAreaItemPostTitle {
    font-size: smaller;
    display: block;
}